---

- name: Install apt packages required for MySQL
  ansible.builtin.apt:
    name:
      - default-mysql-server
      - python3-pymysql

- name: Configure mysql
  ansible.builtin.lineinfile:
    path: /etc/mysql/mysql.conf.d/mysqld.cnf
    regexp: '^\s*{{ item.key }}\s*(=|$)'
    line: "{{ item.key }}{% if item.value is not none %} = {{ item.value }}{% endif %}"
  loop: "{{ mysql_config | dict2items }}"
  notify:
    - Restart MySQL

- name: Start MySQL
  ansible.builtin.service:
    name: mysql
    state: started

- name: Check whether mysql root password is set
  become: true
  become_user: nobody
  vars:
    ansible_remote_tmp: /tmp
  ansible.builtin.shell: echo '\q' | mysql --user=root --password={{ mysql_root_password }} mysql
  register: connect_to_mysql_without_password
  check_mode: false
  ignore_errors: true
  changed_when: false

- name: Set mysql root password
  ansible.builtin.shell: >
    set -o pipefail && echo "
       ALTER USER 'root'@'localhost' IDENTIFIED BY '{{ mysql_root_password }}';
       FLUSH PRIVILEGES;
    " | mysql --user=root mysql
  when: "connect_to_mysql_without_password.rc == 1"
  changed_when: true

- name: Create mysql user root@%
  community.mysql.mysql_user:
    login_user: root
    login_password: "{{ mysql_root_password }}"
    name: "root"
    host: "%"
    plugin: "mysql_native_password"
    password: "{{ mysql_root_password }}"
    priv: "*.*:ALL,GRANT"
    state: present
    column_case_sensitive: false

- name: Allow MySQL firewall
  ansible.builtin.lineinfile:
    path: /etc/ferm/ansible-late
    line: "proto tcp dport 3306 saddr ({{ mysql_allowed_client_ips }}) ACCEPT;"
  notify: Reload ferm
  when: mysql_allowed_client_ips|length > 0

- name: Create prometheus database user
  community.mysql.mysql_user:
    name: prometheus
    password: "{{ mysql_prometheus_password }}"
    priv: '*.*:PROCESS,REPLICATION CLIENT,SELECT'
    login_user: root
    login_password: "{{ mysql_root_password }}"
    column_case_sensitive: false
  when: prometheus_server_ips|default([])|length > 0

- name: Install prometheus-mysqld-exporter
  ansible.builtin.apt:
    name:
      - prometheus-mysqld-exporter
  when: prometheus_server_ips|default([])|length > 0

- name: Configure prometheus-mysqld-exporter username
  ansible.builtin.lineinfile:
    path: /etc/default/prometheus-mysqld-exporter
    regexp: '^ARGS\s*='
    line: 'ARGS="--mysqld.username=prometheus"'
  notify: Restart prometheus-mysqld-exporter
  when: prometheus_server_ips|default([])|length > 0

- name: Configure prometheus-mysqld-exporter password
  ansible.builtin.lineinfile:
    path: /etc/default/prometheus-mysqld-exporter
    regexp: '^MYSQLD_EXPORTER_PASSWORD\s*='
    line: 'MYSQLD_EXPORTER_PASSWORD="{{ mysql_prometheus_password }}"'
  notify: Restart prometheus-mysqld-exporter
  when: prometheus_server_ips|default([])|length > 0
