---

# Let's Encrypt

- name: Check if letsencrypt certificate exists
  ansible.builtin.stat:
    path: /etc/letsencrypt/live/{{ server_name }}
  register: letsencryptdir

- name: Ensure ferm allows certbot
  ansible.builtin.meta: flush_handlers

- name: Install letsencrypt certificate
  ansible.builtin.command: >
    certbot certonly --nginx --non-interactive --agree-tos -m {{ letsencrypt_admin }}
    -d {% if letsencrypt is sameas true %}{{ server_name }}{% else %}{{ letsencrypt }}{% endif %}
  when: letsencrypt and not letsencryptdir.stat.exists
  changed_when: true

# Site setup

- name: Configuration file for {{ server_name }}
  ansible.builtin.template:
    src: site.conf
    dest: /etc/nginx/sites-available/{{ server_name }}.conf
    mode: "0644"
  notify:
    - Reload nginx

- name: Enable site {{ server_name }}
  ansible.builtin.file:
    state: link
    src: /etc/nginx/sites-available/{{ server_name }}.conf
    dest: /etc/nginx/sites-enabled/{{ server_name }}.conf
    mode: "0644"
  notify:
    - Reload nginx

- name: Create snippets directory for {{ server_name }}
  ansible.builtin.file:
    name: /etc/nginx/snippets/{{ server_name }}
    state: directory
    mode: "0755"

- name: Create directory /var/www/{{ server_name }}
  ansible.builtin.file:
    state: directory
    dest: /var/www/{{ server_name }}
    mode: "0755"
