---
- name: Reload ssh
  ansible.builtin.service:
    name: ssh
    state: reloaded

- name: Reload ferm
  ansible.builtin.service:
    name: ferm
    state: reloaded

- name: Restart journald
  ansible.builtin.service:
    name: systemd-journald
    state: restarted

- name: Reboot
  ansible.builtin.reboot:
