---

- name: Install packages required for Prometheus
  apt:
    name:
     - prometheus
     - prometheus-alertmanager
    update_cache: yes

- name: Configure Prometheus
  template:
    src: prometheus.yml
    dest: /etc/prometheus/prometheus.yml
  notify:
    - Restart Prometheus

- name: Configure alert rules
  template:
    src: alert_rules.yml
    dest: /etc/prometheus/alert_rules.yml
  when: prometheus_alert_rules != ""
  notify:
    - Restart Prometheus

- name: Configure alertmanager
  template:
    src: alertmanager.yml
    dest: /etc/prometheus/alertmanager.yml
  when: prometheus_alertmanager_config != ""
  notify:
    - Restart alertmanager

- name: Configure alertmanager advertise address
  copy:
    dest: /etc/default/prometheus-alertmanager
    content: |
      ARGS="--cluster.advertise-address={{ ansible_default_ipv4.address }}:9093"
  when: prometheus_alertmanager_config != ""
  notify:
    - Restart alertmanager
